/* LoginPage.css */

.login-page {
  background: url('./images/Log.jpeg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  color: #ffffff;
}

.navbar {
  background-color: rgba(30, 30, 30, 0.9); /* Dark semi-transparent background */
  width: 100%;
  padding: 15px;
  text-align: center;
}

.navbar h1 {
  color: #00d1b2; /* Vibrant title color */
  margin: 0;
  font-size: 28px;
}

.login-container {
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  padding: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin-top:100px; /* Add margin to push the form down */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Soft shadow effect */
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #00d1b2; /* Title color */
  text-align: center;
}

input {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #00d1b2;
  background-color: #2c2c2c;
  color: #ffffff;
  transition: border-color 0.3s ease; /* Smooth transition for border color */
}

input:focus {
  outline: none;
  border-color: #3498db; /* Change border color on focus */
}

button {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  background-color: #00d1b2;
  border: none;
  color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

button:hover {
  background-color: #3498db; /* Change background color on hover */
}

button:last-child {
  background-color: transparent; /* Style for the toggle button */
  border: 1px solid #00d1b2; /* Border for the toggle button */
  color: #00d1b2; /* Text color for the toggle button */
}

button:last-child:hover {
  background-color: rgba(0, 209, 178, 0.2); /* Light background on hover for toggle button */
}
